<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :congregation_id %><br/>
    <%= collection_select(:user, :congregation_id, Congregation.all, :id, :name )%>   
  </div>

  <div><%= f.label :address %><br />
  <%= f.text_field :address, autofocus: true %></div>

  <div><%= f.label :phone %><br />
  <%= f.text_field :phone, autofocus: true %></div>

  <%= f.hidden_field :admin, autofocus: true, :value => false %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div></br>

  <div><%= f.submit "Sign up" %></div>
<% end %>