<li><%= link_to "Mapa", '/main/map' %></li>
<li><%= link_to t("layout.designations"), '/main/designations' %></li>
<li><%= link_to t("layout.visit_form"), "/main/visit_form" %></li>
<li><%= link_to t("layout.news"), '/main/posts' %></li>
<li><%= link_to "Info", '/main/info' %></li>